.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* SignUp.css */
.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.bg-signup-image {
  background-image: url('https://via.placeholder.com/600x800');
  /* Replace with your image */
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
}

.auth-icon {
  color: #007bff;
}

button {
  background-color: #007bff;
  border-color: #007bff;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

input {
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

@media (max-width: 768px) {
  .bg-signup-image {
    display: none;
  }
}

.form-control {
  padding: 10px;
  width: 400px;
}

.search {
  width: 100px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}